
.icons{
    border: 2px solid red;
    list-style: none;
    background-color: rgb(14, 14, 14);
    height: 100px;
    width: 700px;
    

}
body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 600px;
    /* background-color: dimgray; */
}
.icons li{
    /* border: 2px solid ; */
    width: 70px;
    height: 70px;
    cursor: pointer;
    display: inline-block;
    margin: 10px;
    margin: 0 auto;
    position: relative;
    transition: 1s;
    /* position: relative; */
    
}
.icons li:hover{
    border-radius: 50%;
    box-shadow: 0 0 10px 0 darkcyan;
    transform: rotate(360deg);
}
.icons li a i{
    /* border: 2px solid gold; */
    font-size: 30px;
    margin-top: 20px;
    transition: 1s;
    color: white;
}
.icons li:hover a i {
        transform: scale(1.4);
        color:rgb(225, 89, 65);
}
.icons li:hover::before{
    border-radius: 100%;
    transform: rotate(360deg);
    box-shadow: 0px 0px 10px 5px  rgb(255, 98, 0);
}
.icons li::before {
    content: '';
    position: absolute;
    z-index: -1;
     top: 0;
    left: 0; 
     height: 100%;
    width: 100%; 
     /* border: 3px solid goldenrod;  */
     transition: all 0.5s ease-in;
} 



    
